* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    
}

.container {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

blockquote {
    font-family: 'sans-serif';
    color: #6c757d;
    font-size: 19px;
    margin-top: 0;
    margin-bottom: 80px;
    font-style: italic;
    text-align: center;
}

/*-------------- NAV SECTION -------------*/
#home {
    height: 100vh;
    width: 100%;
    background: 
          linear-gradient(
            rgba(255, 255, 255, 0.178),
            rgba(60, 30, 74, 0.45)
          ),
          /* bottom, image */
          url("../img/mac.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  
    text-align: center;
}

header {
    padding-top: 30px;
    min-height: 42px;
    position: relative;
    z-index: 1000;
}

header a {
    text-decoration: none;
    color: white;
    font-size: 14.5px;
    letter-spacing: 1px;
}

header a:hover {
    color: #fed136;
    transition: all .5s ease;
}

header a:focus{
    padding: 20px 14px 12px 14px;
}

header ul {
    padding-top: 10px;
    margin: 0;
    float: right;
    margin-right: 60px;
}

header li {
    display: inline;  
    padding: 0 15px 0 15px; 
}

 header .logo h2 {
    float: left;
    padding: 0px 15px 0px 15px;
    margin: 0;
    margin-left: 30px;
    color: #fed136;
    font-family: 'Kaushan Script';
    font-size: 28px;
 }

 header nav {
    font-family: 'Montserrat', sans-serif;
    display: inline;
}

nav li.active a {
    color: #fed136;
  }

  #fadeout {
    opacity: 1;
    transition: opacity 3s ease-in-out;
}
@keyframes fadeOut {
    50% {
        opacity: 0.02;
    }
}


header.shrink {
    background-color: #212529;
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
    z-index: 3000;
    position: fixed;
    width: 100%;
    text-align: center;
    height: 50px;
    transition: all 0.4s ease-in;
}

/*-------------- HOMEPAGE-BODY SECTION -------------*/
.hero-container {
    color: white;
    font-family: 'Montserrat:bold', sans-serif;
    width: 100%;
    text-align: center; 
}

.hero-container .header-heading {
    font-size: 70px;
    font-weight: bold;
    margin: 0 auto;
    margin-bottom: 10px;
    position: absolute;
    top: 55%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

/*-------------- SKILLS SECTION -------------*/
#skills {
    padding: 120px;
    text-align: center;
}

#skills h2 {
    font-size: 40px;
    font-family: 'Montserrat:bold', sans-serif;
    margin-bottom: 9px;
    font-weight: bold;
}

#skills ul {
    margin-top: 0px;
}

#skills ul li {
    list-style: none;
    padding-right: 40px;
    font-family: 'Roboto Slab';
    font-size: 16px;
}

/*Icons*/
#skills .fab, .fas {
    color: white;
    background-color: #fed136;
    border-radius: 50%;
    width: 130px;
    height: 130px; 
    padding-top: 30px;
}

.skill {
    width: calc(100% / 3); /* Divide screen into 3 sections*/
    float: left;
    font-size: 70px;
}

.skill h4 {
    font-family: 'Montserrat:bold', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 12px;
}

/*-------------- PORTFOLIO SECTION -------------*/
#portfolio {
    text-align: center;
    padding: 80px;
    padding-top: 100px;
    background-color:#f8f9fa;
}

#portfolio h2 {
    font-size: 42px;
    font-family: 'Montserrat:bold', sans-serif;
    margin-bottom: 9px;
    text-align: center;
}

.project1, .project2, .project3, .project4, .project5, .project6 {
    min-height: 280px;
    min-width: 28%;
    background-color: white;
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px; 
    position: relative;
    margin-bottom: 140px;
}

.project1 {
    background-image: url(../img/code.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.project2 {
    background-image: url(../img/img_amazon.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -30px;
}

.project3 {
    background-image: url(../img/img_acme.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.project4 {
    background-image: url(../img/tictactoe-img.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.project5 {
    background-image: url(../img/filebackupapp.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.project6 {
    background-image: url(../img/js-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -70px;
}

.project2 hr {
    border-top: 1px solid #0b1d2deb;
    margin-top: -3px;
}

.white-block {
    top: 80%;
    width: 100%;
    height: 100px;
    background-color: white;
    position: absolute;
}

.white-block .white-p {
    font-size: 22px;
    font-family: 'Montserrat:bold', sans-serif;
    font-weight: bold;
    margin-bottom: 2px;
    letter-spacing: .5px;
}

.white-block i {
    font-style: italic;
    font-size: 16px;
    letter-spacing: .2px;
    color: #6c757d;
    margin: 0px;
    font-family: 'Roboto Slab';
}

#portfolio .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    padding-top: 240px;
}

#portfolio .overlay:hover {
    transition: all 0.8s ease;
    background-color: rgba(254,209,54,.9);
    padding-top: 65px;
}

#portfolio .add.fas.fa-plus {
    background-color: rgba(255,255,255,0);
    font-size: 46px;
}

#portfolio .add.fa-plus:hover {
    color: white;
}

/*-------------- PORTFOLIO SECTION -------------*/
#about-me {
    padding-top: 100px;
    padding-bottom: 80px;
}

#about-me h2 {    
    font-size: 42px;
    font-family: 'Montserrat:bold', sans-serif;
    margin-bottom: 9px;
    text-align: center;
}

.humble {
    margin-bottom: 80px;
}

.humble-left {
    float: left;
    width: 320px;
    margin-left: 150px;
    margin-top: 20px;
}

.humble-left h3 {
    text-align: right;
    letter-spacing: 1px;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 28px;
}

.humble-left p {
    color: #6c757d;
    font-family: 'Roboto Slab';
    text-align: right;
    line-height: 26px;
    margin-top: 0;
}

.humble-midlde {
    text-align: center;
    margin-bottom: 0px;
}

.humble-middle img {
    display: inline-block;
    margin: 20px 0 -5px 85px;
    border-radius: 100px;
    border: 7px solid #e9ecef;
    width: 170px;
    height: 170px;
}

.line::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 180px;
    left: 50%;
    background-color: #e9ecef;
}

.humble-bottom {
    background-color: #fed136;
    margin: 0 auto;
    margin-top: 175px;
    border-radius: 100px;
    border: 7px solid #e9ecef;
    width: 170px;
    height: 170px;

}

.humble-bottom h5 {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-bottom: 0;
    margin-top: 40%;
    font-weight: bold;
}

.humble-bottom p {
    color: white;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

/*-------------- TEAM SECTION -------------*/
#teams {
    padding: 120px;
    background-color: #f8f9fa;
    text-align: center;
}

#teams h2 {
    font-size: 42px;
    font-family: 'Montserrat:bold', sans-serif;
    margin-bottom: 9px;
    text-align: center;
}

#teams::after {
    content: '';
    display: block;
    clear: both;
}

.team {
    float: left;
    width: calc(100% / 3); /* Divide screen into 3 sections*/
}

.team img {
    border: 7px solid #fff;
    border-radius: 50%;
    width: 225px;
    height: 225px; 
    margin-right: 10px;
}

/*-------------- FONT ICON SECTION -------------*/
.icon-section {
    padding: 20px;
}

.icon-section .icon {
    text-align: center;
    background-color: white;
    color: #212529;
    float: left;
    width:40px;
    height: 40px;
    font-size: 60px;
    width: calc(100% / 6);
    padding: 0;
}

/*-------------- CONTACT SECTION -------------*/

#contact {
    background-color: #212529;  
    background-image: url("../img/map-image.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 455px;
    text-align: center;
}

#contact h2 {
    color: white;
    font-size: 42px;
    font-weight: bold;
    position: relative;
    top: 32%;
    font-family: 'Montserrat:bold', sans-serif;
}

#contact .contact-subheading {
    color: #d5af2d;
    text-decoration: none;
    text-align: center;
    position: relative;
    top: 135px;
    font-size: 18px;
}

#contact a:hover {
    text-decoration: underline;
    letter-spacing: .5px;
}

/*-------------- FOOTER SECTION -------------*/

footer {
    background-color: white;
    height: 120px;
    padding-top: 10px;
    padding-left: 50px;
}

footer i {
    background-color: white;
    color: #212529;
    width:40px;
    height: 40px;
    font-size: 40px;
    width: calc(100% / 3);
    padding-top: 25px;
    border-radius: 50px;
    text-align: center;
}

footer i:hover {
    color: #fed136;
}

footer h5 {
    display: inline-block;
    text-align: center;
    font-family: 'Montserrat:bold', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
}


/*-------------- MEDIA QUERIES SECTION -------------*/


/* Use a media query to add a breakpoint at 768px: */
@media(max-width: 768px) {
    header .logo h2,
    header nav, 
    header nav li,
    #skills h2,
    .skill,
    #about-me,
    .humble-left,
    .team {
        float: none;
        text-align: center;
        width: 100%;
    }

    header {
        padding-top: 10px;
        padding-bottom: 15px;
        min-height: 80px;
        transition: none;
    }

    nav ul {
        padding: 0px;
    }

    header nav.shrink {
        padding: 10px;
        background-color: #212529;
        transition: all 0.3s ease;
    }

    .hero-container .header-heading {
        position: absolute;
        top: 55%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        font-size: 3em;
    }

    .hero-container .btn-scroll {
        position: absolute;
        top: 80%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        color: white;
        background-color: #fed136;
        padding: 10px 20px;
        opacity: 1;
        border-radius: 8px;
        font-weight: bold;
        text-decoration: none;
    }
    
    .btn-scroll:hover {
        background-color: #f3c736;
    }

    .skill ul {
        margin-bottom: 30px;
    }

    .project1,
    .project2,
    .project3,
    .project4,
    .project5 {
        float: none;
        text-align: center;
        width: 90%;
        margin-bottom: 100px;
        margin-left: 0px;
        background-position: center;
    }

    .project2 {
        background-size: contain;
    }

    #skills {
        padding: 80px;
    }

    #skills h2 {
        margin-top: 20px;
    }

    #portfolio {
        padding: 75px;
        
    }

    #portfolio h2 {
        padding-top: 20px;
    }

    #portfolio .add.fas.fa-plus {
        background-color: rgba(255,255,255,0);
        font-size: 46px;
    }

    .white-block {
        height: 120px;
    }

    .white-block p {
        margin-top: 32px;
    }

    #about-me h2 {
        margin-top: 40px;
    }

    #about-me .humble-left {
        margin: 0;
        margin-bottom: 40px; 
    }

    #about-me .humble-left h3 {
       text-align: center;
    }

    #about-me .humble-left p {
        text-align: center;
        margin-bottom: 60px;
        width: 500px;
        margin: 0 auto;
        display: inline-block;
    }

    #about-me .humble-middle img {
        display: inline-block;
        margin: -5px auto;
    }

    #teams {
        padding: 20px;
        text-align: center; 
    }

    #teams h2 {
        margin-top: 80px;
    }

    .team {
        margin-bottom: 40px;
    }

    .icon-section {

        padding: 10px;
    }

    .icon-section .icon {
        text-align: center;
    }

    .contact-heading {
        padding-top: 60px;
    }

    footer {
        display: flex;
        justify-content: space-around;
        padding-left: 10px;
        padding-right: 10px;
    }
}

 /* Use a media query to add a breakpoint at 568px: */
@media(max-width: 568px) {
    header {
        background-color: #212529;
        min-height: 60px;
    }

    header .logo h2 {
        margin-left: 0px;
        font-size: 24px;
        position: absolute;
        top: 15px;
        left: 0px;
    }

    .hamburger-icons {

        padding: 15px;
        padding-top: 5px;
        color:#475058;
        position: absolute;
        top: 5px;
        right: 5px;
 
    }

    .sidenav {
        top: 0;
        right: 0;
        z-index: 1;
        position: fixed;
        overflow-x: hidden;
        background-color: white;
        transition: .3s;
        height: 100%;
        width: 0;
        padding-top: 20px;
        margin: 0;
      }
      
    .sidenav a {
        padding: 8px 8px 8px 8px;
        font-size: 14px;
        color: #818181;
        display: block;
        transition: 0.3s;
        text-decoration: none;  
    }
    
      .sidenav a:hover, .offcanvas a:focus{
        color: #FFD240;
        text-decoration: none;
      }
      
      .sidenav .closebtn {
        top: 0;
        right: 25px;
        position: absolute;
        margin-left: 50px;
        font-size: 30px;
      }
      
      .sidenav ul li {
        list-style-type: none;
        display: inline-block;
        padding-top: 10%;
        text-align: center;
        letter-spacing: 3px;
      }
      
      .sidenav a {
          font-size: 18px;
        }

    .hero-container .btn-scroll {
        display: none;
    }

    .arrow_down i {
        background-color: rgba(255,255,255,0);
        font-size: 50px;
        animation: blinker 2.5s linear infinite;
        text-decoration: none;
        cursor: pointer;
        position: absolute;
        left: 50%;
        top: 85%;
        transform: translate(-50%, -50%);
        color: #fec503;
        padding-top: 40px;
        opacity: .9;
    }
    
       @keyframes blinker {  
         50% { opacity: 0; }
       }
        
    .arrow_down i:hover {
        color: #fec503;
    }
    
    .scroll-v {
        position: absolute;
        left: 50%;
        top: 90%;
        transform: translate(-50%, -50%);
        font-family: 'Montserrat:', sans-serif;
        font-size: 16px;
        letter-spacing: 1.5px;
        animation: blinker 2.5s linear infinite;
        text-decoration: none;
        color: white;
        opacity: .9;
        padding: 20px;
        width: 300px;
    }
    
    @keyframes blinker {  
        50% { opacity: 0; }
      }

    #portfolio {
        padding: 30px;
    }

    #about-me {
        padding: 40px;
    }

    #about-me .humble-left {
        margin: 0 10px 0 0;
    }

    #about-me .humble-left h3 {
        display: inline;
    }

    #about-me .humble-left p {
        text-align: center;
        margin-top: 15px;
        margin-bottom: 60px;
        width: 300px;
    }

    #teams {
        padding-bottom: 45px;
        margin-bottom: 20px;
    }

    #teams h2 {
        margin-top: 60px;
    }
    
    .icon-section {
       margin-left: 5px;
    }

    footer {
        padding: 10px 15px 10px 15px;
    }

    footer .footer-left, 
    footer .footer-right {
        margin-top: 5px;
    }
}

/* Use a media query to add a breakpoint at 375px: */
@media(max-width: 375px) {
    header ul {
        padding: 5px;
    }

    nav.shrink {
        padding: 5px;
    }

    .arrow_down i{
        padding-top: 30px;
    }

    .icon-section {
        margin-left: 0;
    }
    
    .icon-section .icon {
        text-align: center;
    }
}

/* Use a media query to add a breakpoint at 320px: */
@media(max-width: 320px) {
    header .logo h2 {
        float: left;
        padding: 15px;
        height: 25px;
        font-size: 22px;
    }

    header {
        padding: 0;
        text-align: center;
    }

    .hamburger-icons {
        padding-top: 10px;
    }

    .logo h2.shrink {
        display: none;
    }

    header nav.shrink {
        margin: 0px;
        padding: 0 5px 5px 5px;
    }

    .arrow_down i{
        padding-top: 30px;
    }

    #about-me .humble-left p {
        text-align: center;
        margin-top: 15px;
        margin-bottom: 60px;
        width: 230px;
    }
    
    #teams {
        padding: 25px 25px 45px 25px;
    }

    .icon-section {
        padding: 5px;
    }

    .icon-section .icon {
        font-size: 3em;  
        text-align: center;
    }
}


/* Use a media query to add a breakpoint at 414px: */
@media(max-width: 414px) {
    header ul {
        padding-top: 0px;
    }   

    nav.shrink {
        padding: 5px;
    }
}

/* Use a media query to add a breakpoint at min-568px: */
@media(min-width: 568px){
    .scroll-v,
    .arrow_down i,
    span,
    .hamburger-icons,
    .closebtn {
        display: none;
    }

    .arrow_down i{
        padding-top: 40px;
    }

    .hero-container .btn-scroll {
        position: absolute;
        top: 80%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        font-size: 16px;
        color: white;
        background-color: #fed136;
        padding: 25px 40px;
        opacity: 1;
        border-radius: 8px;
        font-weight: bold;
        text-decoration: none;
    }
    
    .btn-scroll:hover {
        background-color: #f3c736;
    }

}
