@import url('https://fonts.googleapis.com/css?family=Lato|Roboto:700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo {
    margin: 20px;
    margin-left: 80px;
    font-family: 'Roboto', sans-serif;
}

hr {
    width: 270px;
}

#stirFryButton {
    background: #1f9ed4;
    width: 600px;
    height: 90px;
    margin-top: 15px;
    position: relative;
    left: 25%;
    border: 3px solid #1f9ed4;
    border-radius: 4px;
    box-shadow: 0 10px 20px;
    cursor: pointer;
}

#stirFryButton:hover {
    background: #1098d3;
}

#stirFryButton p {
    color: white;
    font-size: 20px;
    letter-spacing: .25em;
}

#dishNameDiv {
    text-align: center;
    margin-top: 20px; 
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
}

#eat {
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    margin-top: 55px;
    text-align: center;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -webkit-transform: translateY(0); }
    40% {
      -webkit-transform: translateY(-30px); }
    60% {
      -webkit-transform: translateY(-15px); } }

.backgroundTop {
    height: 50vh;
    width: 100%;
}

.backgroundBottom {
    background-color: #1f9ed4;
    height: 50vh;
    width: 100vw;
}