body {
    font-family: 'Open Sans',Arial,sans-serif;
    box-sizing: border-box;
    line-height: 1.5em;
    color:#4d4e53;
    margin: 0;
    padding: 0;
}

#container-grid {
    display: grid;
    grid-template-columns: minmax(300px, auto) 1fr;
    grid-template-areas: "navbar main-doc";
    grid-gap: 1em;
}

#navbar {
    grid-area: navbar;
    position: fixed;
    background-color: white;
    border-right: 2px black solid;  
    overflow-y: scroll;
    top: 0;
    bottom: 0;
}

#navbar header {
    margin: .75em;
    text-align: center;
    color: black;
    font-size: 1.75em;
}

#navbar ul {
    list-style: none;
    padding: 0;
    overflow-y: scroll;
}

#navbar ul li {
    border-bottom: 1px solid black;
    padding: .5em 2em;
}

#navbar ul li a {
    text-decoration: none;
}

#navbar ul li:nth-child(1) {
    border-top: 1px solid black;
}

#main-doc {
    grid-area: main-doc;
    padding: 10px;
}

#main-doc header {
    font-size: 1.75em;
    color: black;
    margin: 20px;
    padding-top: 20px;
}

#main-doc li {
    margin-left: 30px;
    padding: 5px;
}

#main-doc ul {
    margin: 5px;
}

article {
    margin-left: 30px;
}

code {
    display: block;
    padding: 1em;
    border-radius: 5px;
    background-color: #f5f2f0;

    font-family: monospace;
    font-size: 1.1em;
    margin: 10px;
    white-space: pre;
    text-align: left;
}

section {
    margin-top: 10px;
    margin-bottom: 10px;
}

#reference a {
    text-decoration: none;
}

@media (max-width: 768px) {
    #container-grid {
        display: block;
    }

    #navbar {
        position: inherit;
        border-right: none;
        width: 100%;
    }

    #navbar header {
        text-align: left;
    }

    #navbar ul li {
        border-bottom-width: 100%;
        padding: 1.25em;
    }

    #main-doc {
        word-wrap: break-word;
        padding: 5px;
    }   

    #main-doc article {
        margin: 25px;
    }

    code {
        font-size: 12px;
    }
}